
  <!-- Main Site -->
  <main id="site-main">
    <div class="containerdash">
        <div class="box-nav d-flex justify-between">
           <div class="filter filter-newuser">
               <a href="/dashboard"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg>  Go Back</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-dark">Use the below form to create a new account</span>
        </div>


        
        <!-- add user form -->
        <form action="/api/users" method="POST" id="add_user">
            <div class="new_user">
                <div class="form-group">
                    <div class="from-group-container">
                      <label for="">Name</label>
                      <input type="text"  name="name" placeholder="Name">  
                      <label for="">Email</label>
                      <input type="email" name="email" placeholder="Email">  
                      <label for="">Password</label>
                        <input type="password"  name="password" placeholder="Password">  
                    </div>
                    <div class="form-group-radio">
                        <label for="vendor" class="text-dark">Vendor</label>
                        <div class="adduser-radio-inline">
                            <input type="radio" id="vendor1" name="vend" value="HTML">
                            <label for="vendor1">Yes</label><br>
                            <input type="radio" id="vendor2" name="vend" value="CSS">
                            <label for="vendor2">No</label><br>
                        </div>  
                        <label for="vendor" class="text-dark">Admin</label>
                        <div class="adduser-radio-inline">
                            <input type="radio" id="admin1" name="admin" value="true">
                            <label for="admin1">Yes</label><br>
                            <input type="radio" id="admin2" name="admin" value="flase">
                            <label for="admin2">No</label><br>
                        </div>  
                    </div>
                    <div class="adduser-submit-button">
                        <button type="submit">Submit</button>
                    </div>






        
                
                    
                </div>
        
            </div>
        </form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- 
<label for="name" class="text-dark">Name</label>
<input type="hidden" name="id" value="">
<input type="text" name="name" value="" placeholder="Mark Stoenis">
</div>
<div class="form-group">
<label for="Email" class="text-dark">Email</label>
<input type="text" name="email" value="" placeholder="example@gmail.com">
</div>
<div class="form-group">
<label for="name" class="text-dark">Password</label>
<input type="hidden" name="id" value="">
<input type="text" name="password" value="" placeholder="Password">
</div>
<div class="form-group">
<label for="gender" class="text-dark">Vendor</label>
<div class="radio inline">
    <input type="radio" id="radio-2" name="true" value="0" >
    <label for="radio-2" class="radio-label">True</label>
    <input type="radio" id="radio-3" name="flase" value="1" >
    <label for="radio-3" class="radio-label">False</label>
</div>
<div class="radio inline">
    
</div>
</div>
<div class="form-group">
<label for="gender" class="text-dark">Admin</label>
<div class="radio inline">
    <input type="radio" id="radio-4" name="true" value="true" >
    <label for="radio-4" class="radio-label">True</label>
</div>
<div class="radio inline">
    <input type="radio" id="radio-5" name="flase" value="false" >
    <label for="radio-5" class="radio-label">True</label>
</div>
</div> -->