<div class="review-website-vendors-main">
    <div class="review-website-vendors-main-sub">
        <div class="review-website-vendors-main-heading">
            Write a Blog
        </div>
       
        <form action="/blog" method="post">
            <div class="review-vendor-name">
                <label for="">Title</label>
                <input type="text"  name="title" placeholder="Blog Title">
                <input type="hidden" name="username" value="<%= user.userDisplayName%>" >
                
               
            
            </div>
            
            <div class="review-vendor-description-page">
                <label for="">Blog Discription</label>
                <textarea name="description1"   cols="48" maxlength="700" rows="5"></textarea>
                
                <textarea name="description2"   cols="40" maxlength="300" rows="3"></textarea>
                
                <textarea name="description3"   cols="48" maxlength="300" rows="2"></textarea>
                <textarea name="description4"   cols="48" maxlength="300" rows="2"></textarea>
            </div>

            <div class="review-vendor-name  blog_update-photos">
                <label for="">Photos</label>
                <input type="link" name="photo1" placeholder="Photo1">
                <input type="link" name="photo2" placeholder="Photo2">
                <input type="link" name="photo3" placeholder="Photo3">
                
                
                
            </div>
            <div class="review-vendor-submit-button">
                <button type="submit">Submit</button>
            </div>
        </form>

    </div>

</div>