<div class="website-contact-page">
  <div class="website-contact-page-sub">
    <div class="website-contact-page-heading">Happily Ever After</div>
    <div class="website-contact-page-para">
      Happily Ever After is designed to be a one-stop web-based platform used by couples and vendors. Each user has a different perspective towards the system, depending on the needs in terms of their roles in the system. Couples use the system on their wedding design, plan and management. Vendors use the system to market and sell their services and products. It is a wedding planning website where couples planning their wedding can search for local vendors and discover ideas and inspirations for their wedding. Example : Venue, Photographers, Makeup, Bridal-wear, Groom-wear, Food, Décor, Customizing Wedding Invitations etc.
    </div>
    <div class="website-contact-page-members">
      <div class="website-contact-page-member-container">
        <div class="websit-contact-page-member-img">
          <img src="img/lisban.png" alt="" />
        </div>
        <div class="websit-contact-page-member-content">
          <div class="websit-contact-page-member-name">
            Lisban Gonsalves
          </div>
          <div class="websit-contact-page-member-details">
            I’m a freelance multi-disciplinary Graphic Designer and Developer who’s currently a Computer Engineering Student at St Francis Institute of Technology. I believe being creative is an essential part of life,
          </div>
        </div>
      </div>
      <div class="website-contact-page-member-container">
        <div class="websit-contact-page-member-img">
          <img src="img/axill.jpg" alt="" />
        </div>
        <div class="websit-contact-page-member-content">
          <div class="websit-contact-page-member-name">
            Axill Dcunha
          </div>
          <div class="websit-contact-page-member-details">
            I’m a sophomore in computer science engineering at St Francis Institute of technology. A visionary engineer and a quick learner who thrives to challenge, explore and learn new technologies in the computer science field. 
          </div>
        </div>
      </div>
      <div class="website-contact-page-member-container">
        <div class="websit-contact-page-member-img">
          <img src="img/jessica.jpeg" alt="" />
        </div>
        <div class="websit-contact-page-member-content">
          <div class="websit-contact-page-member-name">
            Jessica Allen Gonsalves
          </div>
          <div class="websit-contact-page-member-details">
            A second-year engineering student, pursuing Bachelor’s Degree (BE) in Computer Science, molding myself with the latest technologies to support innovative ideas, thoughts and shaping them into reality.
          </div>
        </div>
      </div>
      <div class="website-contact-page-member-container">
        <div class="websit-contact-page-member-img">
          <img src="img/jason.jpeg" alt="" />
        </div>
        <div class="websit-contact-page-member-content">
          <div class="websit-contact-page-member-name">
            Jason Gonsalves
          </div>
          <div class="websit-contact-page-member-details">
            A  second-year undergraduate currently pursuing Bachelor of Engineering in Computer science. I possess strong interpersonal skills required to work in a team and am always eager to learn and adapt to different working environment.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
