
<body>
    <H3> Write a Review for your Wedding Vendors</H3><br>
    <p><h5>Had a great experience with your wedding photographer? Or the food at the venue left you disappointed? Please tell us your experience below. Your reviews help other engaged couples in making informed decisions.</h5></p>
    <br>
    <h3>Enter your details</h3>
    <form action="mailto:jessicagonsalves0302@gmail.com" method="POST" enctype="text/plain">
        <label>Select a Vendor </label><br>
        <input type="text" name="Type vendor name*"> <br>
        <br>
        <label>Rate a Vendor </label><br>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <br>
        <input type="checkbox"> 
        <label>Share on Facebook</label><br><br>
        <label>Tell us about your experience</label><br>
        <textarea name="message" cols="30" rows="10"></textarea><br>
        <br>
        <label>How much did you spend on this vendor
             </label><br>
        <input type="text" name="Type vendor name*"> <br>
        <br>
        <label>Add Image</label>
        <input type="file">
        <br><br>
        <input type="submit">
    </form>
