<!DOCTYPE html>
<html>
<head>
	<title>Wedding planner website</title>
	<meta name="google-site-verification" content="Pqqv1qV96pzBb4ApWlXKb8KAQFRGNl7zahmmGQLwr2c" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
	integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
	integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
	crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="css/dashboard.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/review.css">
	<link rel="stylesheet" href="css/vendors.css">
	<link rel="stylesheet" href="css/blog.css">
	<link rel="icon" type="image/x-icon" href="img/favicon.ico">
	<link rel="stylesheet" href="css/vendorform.css">
	<link rel="stylesheet" href="css/vendor_form.css">
	<link rel="stylesheet" href="css/search.css">
	<link rel="stylesheet" href="css/subscribe.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
		<!-- <script src="js/index.js"></script> -->
	
</head>
<body>
	<div class="top-header">

		<div class="top-header__head">
		  <ul class="top-header__list">
			<li><a href="/review">Write a review</a></li>
			<li><a href="/subscribe">Subscribe</a></li>
		  </ul>
		</div>
	
	
	  </div>
 
 <!-- header start -->
 <header class="header">
 	<div class="container">
 		<div class="row1 v-center">
			<div class="header-item item-left">
				<div class="logo nav__listlogo">
					<a href="/">

					   <svg viewBox="0 0 640 512" width="100" title="infinity">
						   <path
							 d="M471.1 96C405 96 353.3 137.3 320 174.6 286.7 137.3 235 96 168.9 96 75.8 96 0 167.8 0 256s75.8 160 168.9 160c66.1 0 117.8-41.3 151.1-78.6 33.3 37.3 85 78.6 151.1 78.6 93.1 0 168.9-71.8 168.9-160S564.2 96 471.1 96zM168.9 320c-40.2 0-72.9-28.7-72.9-64s32.7-64 72.9-64c38.2 0 73.4 36.1 94 64-20.4 27.6-55.9 64-94 64zm302.2 0c-38.2 0-73.4-36.1-94-64 20.4-27.6 55.9-64 94-64 40.2 0 72.9 28.7 72.9 64s-32.7 64-72.9 64z" />
						 </svg>

					</a>

				</div>
			</div>
 			<!-- menu start here -->
 			<div class="header-item item-center">
 				<div class="menu-overlay">
 				</div>
 				<nav class="menu">
 					<div class="mobile-menu-head">
 						<div class="go-back"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
						  </svg></div>
 						<div class="current-menu-title"></div>
 						<div class="mobile-menu-close">&times;</div>
 					</div>
 					<ul class="menu-main">

						<li class="menu-item-has-children">
							<a href="#">Venues</a>
							<div class="sub-menu mega-menu mega-menu-column-4">
							  <div class="list-item">
									<h4 class="title">By Type</h4>
									<ul>
										 <li><a href="/banquethalls">Banquet Halls</a></li>
										 <li><a href="/lawns">Lawns/Farmhouse</a></li>
										 <li><a href="/resorts">Resorts</a></li>
										 <li><a href="/hotels">Hotels</a></li>
										 <li><a href="/destinationwedding">Destination Wedding</a></li>
										 <li><a href="#">View all Venues...</a></li>
									</ul>
									
							  </div>
							  <div class="list-item">
								  <h4 class="title">By City</h4>
								  <ul>
										 <li><a href="/mumbai">Mumbai</a></li>
										 <li><a href="/delhi">Delhi</a></li>
										 <li><a href="/pune">Pune</a></li>
										 <li><a href="/hyderabad">Hyderabad</a></li>
										 <li><a href="/chennai">Chennai</a></li>
										 <li><a href="/kolkata">Kolkata</a></li>
										 <li><a href="/thane">Thane</a></li>
									</ul>
									
							  </div>
							  
							  <div class="list-item">
								   <img src="img/venues-nav.png" alt="shop">
							  </div>
							</div>
						</li>
 						


 						
						<li class="menu-item-has-children">
							<a href="#">Vendors</a>
							<div class="sub-menu mega-menu mega-menu-column-4">
							  <div class="list-item">
									
									<ul>
										 <li><a href="/photographer">Photographers</a></li>
										 <li><a href="/makeup">Makeup</a></li>
										 <li><a href="/bridalwear">Bridal Wear</a></li>
										 <li><a href="/groomwear">Groom Wear</a></li>
										 <li><a href="/musicanddance">Music & Dance</a></li>
										 <li><a href="/flourist">Florist</a></li>
									</ul>
									
							  </div>
							  <div class="list-item">
								  
								  <ul>
										 <li><a href="/food">Food</a></li>
										 <li><a href="/mehndi">Mehndi</a></li>
										 <li><a href="/planninganddecor">Planning & Decor</a></li>
										 <li><a href="/invites">Invites & Gifts</a></li>
										 <li><a href="/jewellary">Jewellary & Accessories</a></li>
										 <li><a href="/honeymoon">Honey Moon</a></li>
										 
									</ul>
									
							  </div>
							  
							  <div class="list-item">
								   <img src="img/vendor.png" alt="shop">
							  </div>
							</div>
						</li>

						
						<li class="menu-item-has-children">
							<a href="#">Photos </a>
							<div class="sub-menu mega-menu mega-menu-column-4">
								<div class="list-item text-center resiz-img">
									<a href="/outfits">
									<img src="img/outfit.png" alt="new Product">
									<h4 class="title">Outfits</h4>
									</a>
								</div>
								<div class="list-item text-center resiz-img">
									<a href="/accessories">
									<img src="img/jewellery.png" alt="new Product">
									<h4 class="title">Jewellery & Accessories</h4>
									</a>
								</div>
								<div class="list-item text-center resiz-img">
									<a href="/gallery_mendhi">
									<img src="img/mendhi.png" alt="new Product">
									<h4 class="title">Mehndi</h4>
									</a>
								</div>
								<div class="list-item text-center resiz-img">
									<a href="/gallery_decor">
									<img src="img/decor.png" alt="new Product">
									<h4 class="title">Decor & Ideas</h4>
									</a>
								</div>
								<div class="list-item text-center resiz-img">
									<a href="/gallery_card">
									<img src="img/weddingcard.png" alt="new Product">
									<h4 class="title">Wedding Card Design</h4>
									</a>
								</div>
								<div class="list-item text-center resiz-img">
									<a href="/gallery_photography">
									<img src="img/photography.png" alt="new Product">
									<h4 class="title">Wedding Photography</h4>
								   </a>
								</div>
								<a href="#" class="more">More...</a>
							</div>
						</li>
 						<li class="menu-item-has-children">
 							<a href="#">Blog </a>
 							<div class="sub-menu single-column-menu">
 								<ul>
 									<li><a href="/blog">Read Blogs</a></li>
 									<li><a href="/blogupdate">Write a Blog</a></li>
 								</ul>
 							</div>
 						</li>
 						
 						<!-- <li>
 							<a href="/contact">Contact</a>
 						</li> -->
 					</ul>
 				</nav>
 			</div>
 			<!-- menu end here -->
 			<div class="header-item item-right">
				<a href="/search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg></a>
				<% if (req.isAuthenticated()) { %>

					<div class="btn-group logoutbtn">
						<button class="btn-log btn-secondary btn-sm  btnspsp" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<%= user.userDisplayName %>  
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
								<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
							  </svg>
						</button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/vendordashboard">Account info</a></li>
							<li><a href="/logout" class="dropdown-item" href="#">Logout</a></li>
						</ul>
					 
					  </div>


					<% } else { %>
						<a href="/login"><button class="buttonMain">Login/Signup</button></a>
				 <% } %> 
				<!-- <a href="#"><i class="fas fa-shopping-cart"></i></a> -->
 				<!-- mobile menu trigger -->
 				<div class="mobile-menu-trigger">
 					<span></span>
 				</div>
 			</div>
 		</div>
 	</div>
 </header>
 <!-- header end -->

 <!-- banner start -->
 <section class="banner-section">
	 
 	
</section>
 <!-- banner end -->
 <%- body  %> 
 
 <footer>
	<hr>
	<br>
	<div class="website-footer">
		<div class="website-footer-sub">
			<div class="website-footer-1">
				<p class="footer-left-heading">happilyeverafter - Your Personal Wedding Planner</p>
				<p class="footer-left-subheading">Plan your wedding with Us</p>
				<p class="footer-left-subheading">Happily Ever After is designed to be a one-stop web-based platform used by couples and vendors. Each user has a different perspective towards the system, depending on the needs in terms of their roles in the system. Couples use the system on their wedding design, plan and management. Vendors use the system to market and sell their services and products. It is a wedding planning website where couples planning their wedding can search for local vendors and discover ideas and inspirations for their wedding. Example : Venue, Photographers, Makeup, Bridal-wear, Groom-wear, Food, Décor, Customizing Wedding Invitations etc. </p>
				
				<div class="website-footer-left-bottom">
					<div class="website-footer-left-bottom-sub">
						<p>Discover Wedding Ideas</p>
						<p>Book Trusted Vendors</p>
						<p>Always Stay Organised</p>

					</div>
					<div class="website-footer-left-bottom-sub">
						

					</div>
					<div class="website-footer-left-bottom-sub">

					</div>

				</div>

			</div>
			<br>
			<hr class="website-footer-hr">
			<br>
			<div class="website-footer-2">
				<div class="website-footer-header-right">
					<p>Get Latest Blog Alerts</p>
				</div>
				<div class="website-footer-email-submit">
					<form action="" method="post">
					<input name type="email" placeholder="Email">
					<button>Submit</button>
					</form>
				</div>
				<div class="website-footer-social-account">
					<p>Follow us on:</p>
				</div>
				<div class="website-footer-contact-details">
					<p>Contact us to get best deals</p>
					<p class="website-footer-contact-details-sub">contact@happilyeverafter.com | +91-9876543210</p>
				</div>
				<div class="website-footer-final-buttons">
					
						<a href="/blogupdate"><button>Submit Wedding</button></a>
						<a href="/vendorlogin"><button>Register as Vendor</button></a>
					
				</div>

			</div>
		</div>
	</div>
	<br>
	<hr >

</footer>
<script src="js/script.js"></script>
<script src="js/index.js"></script>
<script src="js/hs.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>
	<script src="js/dash.js"></script>
</body>
</html>
