
 
 
 <form action="/login" class="l-form" method="post">
<div class="cont">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
    <label>
      <span>Email</span>
      <input type="email" class="loginput" name="username" />
    </label>
    <label>
      <span>Password</span>
      <input type="password"  class="loginput"name="password" />
    </label>
    <p class="forgot-pass">Forgot password?</p>
    <button type="submit" class="submit logbutoon">Sign In</button>
    <a type="button" class="fb-btn" role="button" href="/auth/google">Connect with <span>Google</span></a>
  </div>


</form>
<form action="/register" method="post">
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Time to feel like home,</h2>
      <label>
        <span>Name</span>
        <input type="text" class="loginput"  name="Uname" />
      </label>
      <label>
        <span>Email</span>
        <input type="email" class="loginput" name="username"/>
      </label>
      <label>
        <span>Password</span>
        <input type="password" class="loginput" name="password" />
      </label>
      <button type="submit " class="submit logbutoon">Sign Up</button>
      <a type="button" class="fb-btn" role="button" href="/auth/google">join with <span>Google</span></a>
    </div>
  </div>
</form>
</div>
<a href="" target="_blank" class="icon-link">
  <img src="">
</a>
<a href="" target="_blank" class="icon-link icon-link--twitter">
  <img src="">
  <script src="js/login.js"></script>
</a>


<!-- 
https://img.everafterguide.net/s/upload/images/2016/06/f66d76a7d01d7db58bfe7c8c33f5fe3b.jpg 
https://live.staticflickr.com/3683/13130091923_74d902c4e1_b.jpg
-->