<div class="review-website-vendors-main">
    <div class="review-website-vendors-main-sub">
        <div class="review-website-vendors-main-heading">
            Review
        </div>
       
        <form action="">
            <div class="review-vendor-name">
                <label for="">Vendor name</label>
                <input type="text" placeholder="Vendor name...">
                <input type="hidden" >
                <form>
               
               










            </div>
            <div class="review-vendor-rating">
                <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
               
                 
                
            </div>
            <div class="review-vendor-description-page">
                <label for="">Discription</label>
                <textarea name="description"  name="description" cols="48" rows="5"></textarea>
            </div>
            <div class="review-vendor-submit-button">
                <button type="submit">Submit</button>
            </div>
        </form>

    </div>

</div>
