<div class="search-website">
    <div class="search-website-content">
        <div class="search-website-header">
            <p>Everything you need, to plan your dream Wedding!</p>
        </div>
        <div class="search-website-header-sub">
            <p>Search for vendors, ideas, real wedding stories and more!</p>
        </div>
        <div class="search-website-bar">
            
            <form action="/searchnew" method="post">
                      <input type="text"  name="newnew" />
                    <button type="submit" >Search</button>
            </form>
        </div>
        <div class="search-website-popular">
            <div class="search-website-popular-header">
                <p>#Quick Links</p>
            </div>
            <div class="search-website-popular-searches">
                <a href="/photographer"><button>photographers</button></a>
                <a href="/blog"><button>Blogs</button></a>
                <a href="/outfits"><button>Outfit Ideas</button></a>
                <a href=""><button>photographers</button></a>
                
            </div>

        </div>
    </div>
</div>