<div class="subscribe-page-main">
    <div class="subscribe-page-main-sub">
        <div class="subscribe-page-heading">
            <p>Get the latest news and updates</p>
        </div>
        <div class="subscribe-page-heading-sub">
            <p>Subscribe Now!!!</p>
        </div>
        <div class="subscribe-page-mailbar">
            <div class="subscribe-page-email">
                <form>
                    <input type="email" name="" id="" placeholder="Email">
                    <button type="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>