<div class="form-vendorform-main">
    <div class="form-vendorform-main1">
        <div class="form-vendorform-left">
            <img src="img/FN-Wedding-001009_preview.jpeg" alt="">

        </div>
        <div class="form-vendorform-right">
            <div class="form-vendorform-right1">
           <form action="/vendorinfo" method="post">
               <input type="hidden" name="email" value="<%=user.username%>">
               <header>Vendor Details</header>
               <label for="">Brand Name</label>
               <input name="userDisplayName" class="input-vendor-form" type="text"  >
               <label for="">Description</label>
               <textarea name="description"  class="input-vendor-form" name="description" cols="48" rows="5"></textarea>
               <label for="">Choose a category</label>
               <select name="categorie" class="input-vendor-form">  
                <option value = "choose a category"> choose a category   
                </option>  
                <option value = "photographer"> Photographers   
                </option>  
                <option value = "makeup"> Makeup  
                </option>  
                <option value = "bridalwear"> Bridal Wear </option>  
                <option value = "groomwear"> Groom Wear </option>  
                <option value = "musicanddance"> Music & Dance </option>  
                <option value = "Florist"> Florist </option>  
                <option value = "food"> Food </option>  
                <option value = "mehndi"> Mehndi </option>  
                <option value = "planninganddecor"> Planning & Decor </option>  
                <option value = "invites"> Invites & Gifts </option>  
                <option value = "jewellary"> Jewellary & Accessories </option>  
                <option value = "Honey Moon"> Honey Moon </option>
                <option value = "lawns"> Lawns </option>  
                <option value = "resorts"> Resorts </option>  
                <option value = "hotels"> Hotels </option>  
                <option value = "destinationwedding"> Destination Wedding </option>
                <option value = "banquethalls"> Banquet Halls </option>  
                 
                </select> 
                <label for="">Choose a Location</label>
               <select name="locate" class="input-vendor-form">  
                <option value = "choose a category"> Location   
                </option>   
                <option value = "Mumbai"> Mumbai </option>  
                <option value = "pune"> Pune </option>  
                <option value = "Thane"> Thane </option>  
                <option value = "Hyderabad"> Hyderabad </option>  
                <option value = "Chennai"> Chennai </option>  
                <option value = "Kolkata"> Kolkata </option> 
                <option value = "Delhi"> Delhi </option> 
                </select>
                <label for="">Price</label>
                <input name="price" class="input-vendor-form"  type="number">
                <label for=""> Upload Photos</label>
                <input name="img" class="input-vendor-form" type="text" accept="image/*">
                <div class="update-user-submit-button">
                <button class="input-vendor-form-submit" type="submit">Submit</button>
                </div>
           </form>
            </div>
        </div>

    </div>


</div>



