.website-contact-page{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-bottom: 50px ;
    
}
.website-contact-page-sub{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.website-contact-page-heading{
    font-size: 35px;
    font-weight: 700;
    color: black;
}
.website-contact-page-para{
    padding-top: 20px;
    text-align: justify;
    font-weight: 600;
}
.website-contact-page-members{
    width: 100%;
    margin-top: 50px;
}
.website-contact-page-member-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #000;
    padding: 20px;
    border-radius: 150px 150px 150px 150px ;
    margin: 30px 0 0 30px;
}
.website-contact-page-members{
    width: 100%;
}
.websit-contact-page-member-img img {
    width: 200px;
    border-radius: 50%;
    margin-right: 30px;
}
.websit-contact-page-member-name{
    font-size: larger;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-text-new{
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-text-new svg{
    fill: rgb(122, 122, 11);
    padding-right: 5px;
}























.blog_update-photos input{
    margin-top: 10px;

}

.blog-card-blog {
    margin-top: 30px;
}
.blog-card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.blog-card .blog-card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.blog-card .blog-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}
.blog-card .blog-table {
    padding: 15px 30px;
}
.blog-table {
    margin-bottom: 0px;
}
.blog-category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}
.blog-text-success {
    color: #28a745!important;
}
.blog-card-blog .blog-card-caption {
    margin-top: 5px;
}
.blog-card-caption {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.blog-card-caption, .blog-card-caption a {
    color: #333;
    text-decoration: none;
}

.blog-card-description {
    color: #3C4857;
}

.blog-card-description {
    margin-top: 0;
    margin-bottom: 1rem;
}
.blog-card .ftr {
    margin-top: 15px;
}
.blog-card .ftr .author {
    color: #888;
}

.blog-card .ftr div {
    display: inline-block;
}
.blog-card .author .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.blog-card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
}
.blog-card .ftr .stats {
    float: right;
    line-height: 30px;
}
.website-blogs-page-all{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.website-blogs-page-all-sub{
    width: 80%;
}














.blog-view-main{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #fff;
}
.blog-view-main-sub{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 1200px;
    /* -webkit-box-sizing: content-box; */
    box-sizing: content-box;
    padding: 0 40px;
}
.web-blog-artical{
    width: 66.6667%;
    display: inline-block;
    /* *display: inline; */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.web-post-artical-blog{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.website-blog_conten-singlet{
    width: 75%;
    display: inline-block;
    /* *display: inline; */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;   
}
.b_content{
    color: #000;
    font-size: 45px;
    line-height: 55px;
    font-weight: 400;
    font-family: Playfair Display,Helvetica Neue,Helvetica,Arial,sans-serif!important;
    padding: 10px;
    margin: 0;
}
.blog_m{
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    margin-top: 60px;
    font-family: Playfair Display,Helvetica Neue,Helvetica,Arial,sans-serif!important;



}
.text-blog-artical{
    margin-top: 30px;
    margin: 0;  

}
.vendor-link{
    text-decoration: none;
    color: #e72e77;
}
.detail-blog-artical{
align-items: center;
display: inline-flex;
}
.name{
    
    font-weight: 700;
}
.rating-blog-artical{
    color: #fff;
    padding: 3px;
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
    margin-left: 10px;
    border-radius: 2px;
    display: inline-block;
    background-color: #5ba829;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.blog-link{
    font-size: 24px;
    margin: 60px 0 30px;
    position: relative;
    padding-bottom: 20px;
    text-align: center!important;
}
.blog-photo{
    display: inline;
    margin-top: 0!important;

}
.photo{
    position: relative;
    display: inline-block;
    margin-top: 0!important;
}
.blogp{
    margin: 0 auto;
    padding: 0;
    height: auto;
    max-width: 100%;
    margin: 10px auto;
    display: block;
}
.blog-p{
    margin-top: 30px;
    margin: 0;
}
