@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

:root{
    --dark: #215732;
    --light: #000000;
    --border: #215732;
    --border-btn: #edf2f4;
}
/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
} */
.dashboard-heading-main{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-heading-main-sub{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-heading-main-sub p{
    font-size: x-large;
    font-weight: 700;
    padding: 10px;
    color: #ffffff;
    background-color: #215732;
    margin: 20px;
}
.containerdash{
    max-width: 1024px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.d-flex a{
    text-decoration: none;
}
.d-flex svg{
    fill: #215732;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow{
    /* border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef; */
}

.text-dark{
    color: var(--dark);
}

.inline{
    display: inline-block;
}

.text-light{
    color: var(--light)!important;
}

.text-gradient{
    color: #215732;
    font-size: medium;
    font-weight: 600;
    
    
}

#header nav{
    background-color: #06d6a0;
    padding: 1em 0;
    width: 100%;
}

#site-main{
    margin-top: 3em;
    font-family: 'Barlow', sans-serif;
}

#site-main .container .box-nav > a{
    font-size: 1em;
    padding: .5em 1em;
}

#site-main .container form{
    margin: 2em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
    

}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    
    border: 3px solid #043113;

}


.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover{
    background-color:#06d6a0 ;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: #fff;
    background-color: var(--dark) ;
    /* border-color: #32383e; */
}

@media only screen and (max-width: 1024px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }

}

/*  add user & update user template */
.form-title{
    margin-top: 2em;
}

.form-title > h2{
    padding: .5em 0;
}

.new_user{
    max-width: 700px;
    margin: auto;
}
.from-group-container label{
    font-weight: 600;
    font-size: large;
    display: flex;
    align-items: center;
    margin-left:30px ;
    text-align: left !important;
    
}
.from-group-container input{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #043113;
    width: 100%;
    margin-top: 5px;
}
.form-group-radio{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}



/* adding style to radio buttons */

.filter-newuser a{
    text-decoration: none;
    color: #043113;
    font-size: medium;
    font-weight: 600;
}
.adduser-radio-inline{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.adduser-radio-inline label{
    display: inline !important;
    width: auto !important;
    margin:0px;
    margin-right: 100px;
}
.adduser-radio-inline input{
    margin-left:150px ;
    
}
.text-dark{
    font-size: large;
    font-weight: 600;


}
.adduser-submit-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.adduser-submit-button button{
    padding: 12px 22px 12px 22px;
    background-color: #215732;
    color: white;
    border-radius: 10px;
}
.adduser-submit-button button:hover{
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: #043113;
    border: 2px solid #043113;


}






.filter-menu-main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.filter-menu-sub-main{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.filter-menu-opt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

/* menu filter-page-dropdown */
.filter-page-dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the filter-page-dropdown content */
  .filter-page-dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .filter-page-drop-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    
    z-index: 1;
  }
  
  /* Links inside the filter-page-dropdown */
  .filter-page-drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of filter-page-dropdown links on hover */
  .filter-page-drop-content a:hover {background-color: #dbdbdb}
  
  /* Show the filter-page-dropdown menu on hover */
  .filter-page-dropdown:hover .filter-page-drop-content {
    display: block;
  }
  
 
  







